
@{
    ViewData["Title"] = "ADMINISTRATOR PANEL";
}


<div class="container container-admin">
    <section class="admin">
        <div class="developer-box">
            <img class="developer-box-img" src="~/Image/gear.svg" alt="gear" />
            <h3 class="developer-box-desc">
                This page is under construction.
            </h3>
        </div>
    </section>
</div>
