
@{
    ViewData["Title"] = "ADMINISTRATOR PANEL";
}


<div class="container container-admin">
    <section class="admin">
        <h2>User Edit</h2>
        <h2>Product Edit</h2>
    </section>
</div>
