@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profile";
    var HttpContextUser = HttpContextAccessor.HttpContext.User.Identity.Name;
}

<div class="container container-profile">
    <section class="profile">
        <div class="profile-header">
            <div class="profile-avatar">
                <img src="~/Image/profile.svg" alt="avatart-image" class="avatar" />
            </div>
            <div class="profile-title">
                <div class="profile-fullName">John Smith</div>
                <div class="profile-subtitle">
                    <a href="mailto:johnsmith@mail.ru" class="profile-email">johnsmith@mail.ru</a>
                    <div class="profile-role">- User</div>
                </div>
            </div>
        </div>
        <h3 class="checkout-group__title">@ViewData["Title"]</h3>
        <div class="profile-body">
            <form class="profile-form" id="form_id" method="post" enctype="multipart/form-data">

                <div class="profile-data">
                    <div class="profile-data-desc profile-data__name">Name</div>
                    <input type="text" value="John" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__secondName">SecondName</div>
                    <input type="text" value="Smith" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__phone">Phone</div>
                    <input type="tel" value="+792265554" class="profile-data__input input-style" />
                </div>
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__email">Email</div>
                    <input type="email" value="johnsmith@mail.ru" class="profile-data__input input-style" />
                </div>
                @{
                    if (HttpContextUser == "Admin")
                    {
                        <div class="profile-data">
                            <div class="profile-data-desc profile-data__role">Role</div>
                            <select name="user-role" class="user-role-selector input-style">
                                <option class="user-role-option">User</option>
                                <option class="user-role-option">Administrator</option>
                            </select>
                        </div>
                    }
                }
                <div class="profile-data">
                    <div class="profile-data-desc profile-data__password">Password</div>
                    <input type="password" value="" class="profile-data__input input-style" />
                </div>

                <div class="profile-data">
                    <div class="profile-data-desc profile-data__ConfirmPassword">ConfirmPassword</div>
                    <input type="password" value="" class="profile-data__input input-style" />
                </div>

                <div>
                    <label id="msg" class="alert-danger m-1"></label>
                </div>

                <button type="submit" class="button-btn btn-user-changes auth" id="Save changes">Save changes</button>
            </form>
        </div>
    </section>
</div>
