
@{
    ViewData["Title"] = "PROFILE PANEL";
}


<div class="container container-profile">
    <section class="profile">
        <h2 class="store-title">@ViewData["Title"]</h2>
        <div class="profile-box">
            <img class="profile-box-img" src="~/Image/gear.svg" alt="gear" />
            <h3 class="profile-box-desc">
                This page is under construction.
            </h3>
        </div>
    </section>
</div>
