@model FlowersStore.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login form.";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            @**Button*@
            <div class="modal fade" id="login">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            <form asp-action="OpenLogin">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <span class="input-span">
                                        <input asp-for="Name" class="form-control" placeholder="Name" id="nametxt" type="text" />
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <span class="input-span">
                                        <input asp-for="Password" class="form-control" placeholder="Password" id="passwordtxt" type="password"/>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-primary" id="HidebtnModal">Hide</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<div class="container">
            <h4>Please write your information.</h4>

        <form asp-action="OpenLogin">
            <div asp-validation-summary="All"></div>
            <div class="form-field">
                <label asp-for="Name"></label>
                <span class="input-span">
                    <input asp-for="Name" />
                </span>
            </div>
            <div class="form-field">
                <label asp-for="Password"></label>
                <span class="input-span">
                    <input asp-for="Password" />
                </span>
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>*@


