@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        EXCLUSIVE FLOWERS AND BOUQUETS<br>
        FLOWERS STORE
    </h1>
    <h3>
        FIRST IN RUSSIA EXCLUSIVE FLOWER STORE FOR PEOPLE WHO APPRECIATE UNIQUENESS.
    </h3>
</div>
