@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-text">
    <h1 class="main-title">
        EXCLUSIVE FLOWERS AND BOUQUETS<br>
        FLOWERS STORE
    </h1>
    <h3 class="main-subtitle">
        FIRST IN RUSSIA EXCLUSIVE FLOWER STORE FOR PEOPLE WHO APPRECIATE <span class="logo-span">UNIQUENESS</span>.
    </h3>
</div>

<div class="reviews">
    <div class="container">
        <div class="reviews-slider">
            <div class="sl">
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-1.png" alt="Slide-1.svg" />
                    <div class="text-slide">
                         More than 100 fresh bouquets every day!
                    </div>
                </div>
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-2.png" alt="Slide-2.svg" />
                    <div class="text-slide">
                        Direct deliveries from Holland!
                    </div>
                </div>
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-3.png" alt="Slide-3.svg" />
                    <div class="text-slide">
                        Fast delivery in the city 100€.
                    </div>
                </div>
            </div>
        </div>

        <h3 class="reviews-text">
            WE MAKE THE BEST <span class="logo-span">BOUQUETS</span>
        </h3>

        <div class="row">
            <div class="reviews-blocks">
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/Icon-1.svg" alt="icon-1">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text" >Only direct deliveries of flowers from Holland</h5>
                    </div>
                </div>
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/icon-2.svg" alt="icon-2">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text">Our florists have 10 years of experience</h5>
                    </div>
                </div>
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/Icon-3.svg" alt="icon-3">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text">All flowers are hand-picked by our florists</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="about">
    <div class="container">
        <div class="about-block">
            <div class="about-img-blocks">
                <a id="singl1" href="~/Image/About/big/About-1.jpg" data-fancybox="gallery" style="cursor:pointer;" class="about-img-block">
                    <img class="about-img" src="~/Image/About/About-1.jpg" alt="about-1" />
                </a>
                <a id="singl2" href="~/Image/About/big/About-2.jpg" data-fancybox="gallery" style="cursor:pointer;" class="about-img-block">
                    <img class="about-img" src="~/Image/About/About-2.jpg" alt="about-2" />
                </a>
                <a id="singl3" href="~/Image/About/big/About-3.jpg" data-fancybox="gallery" style="cursor:pointer;" class="about-img-block">
                    <img class="about-img" src="~/Image/About/About-3.jpg" alt="about-3" />
                </a>
            </div>
            <div class="about-text-blocks">
                <div class="about-text-title">
                    <h4>Flower house "FLOWER<span class="logo-span">STORE"</span></h4>
                </div>
                <div class="about-text-subtitle">
                    <p class="about-text-subtitle__title">House of Flowers is pleased to present its on-line flower shop in Russia. We created it for your convenience so that you can order a bouquet and arrange flower delivery as soon as possible. Our on-line store delivers flowers to Russia and around the world!</p>
                    <ul class="about-list" type="square">
                        <li class="about-li">
                            <span class="about-span">
                                  A wide range of fresh flowers (from traditional to exotic);
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                Filigree work of talented florists - we attach great importance to the combination of flowers in a bouquet and their appearance;
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                Most of our works are unique and exist in a single copy;
                            </span> 
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                Flower delivery in Russia is free for orders over RUB 1,500. (if you purchased goods for less than 1,500 rubles, then delivery will cost only 250 rubles within the city). Delivery conditions may change on holidays and pre-holiday days;
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                Unique and rare types of flowers, for example, roses up to two meters high;
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                Fast flower delivery in Russia;
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                The ability to deliver flowers to your home and pay for your order on-line directly in the on-line store;
                            </span>
                        </li>
                        <li class="about-li">
                            <span class="about-span">
                                We guarantee pleasant emotions and good mood to each customer who decides to order a bouquet in our store =).
                            </span>
                        </li>
                    </ul>
                    <p class="about-text-subtitle__descr">If you want to make an individual order or evaluate the assortment "live", then we are waiting for you at st. V. Gnarovskaya 12 building 1. We will be glad to offer you unimaginable and stunning flower arrangements, indoor plants that will bring comfort to your home, souvenirs, ceramics, soft branded toys, as well as office or banquet room decoration services for any occasion or event, landscape design, wedding floristry, individual approach.</p>
                </div>
            </div>
        </div>
        

    </div>
</div>