@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-text">
    <h1 class="main-title">
        EXCLUSIVE FLOWERS AND BOUQUETS<br>
        FLOWERS STORE
    </h1>
    <h3 class="main-subtitle">
        FIRST IN RUSSIA EXCLUSIVE FLOWER STORE FOR PEOPLE WHO APPRECIATE <span class="logo-span">UNIQUENESS</span>.
    </h3>
</div>

<div class="reviews">
    <div class="container">
        <div class="reviews-slider">
            <div class="sl">
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-1.png" alt="Slide-1.svg" />
                    <div class="text-slide">
                         More than 100 fresh bouquets every day!
                    </div>
                </div>
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-2.png" alt="Slide-2.svg" />
                    <div class="text-slide">
                        Direct deliveries from Holland!
                    </div>
                </div>
                <div class="sl-slide">
                    <img src="~/Image/Slider/Slider-3.png" alt="Slide-3.svg" />
                    <div class="text-slide">
                        Fast delivery in the city 100€.
                    </div>
                </div>
            </div>
        </div>

        <h3 class="reviews-text">
            WE MAKE THE BEST <span class="logo-span">BOUQUETS</span>
        </h3>

        <div class="row">
            <div class="reviews-blocks">
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/Icon-1.svg" alt="icon-1">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text" >Only direct deliveries of flowers from Holland</h5>
                    </div>
                </div>
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/icon-2.svg" alt="icon-2">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text">Our florists have 10 years of experience</h5>
                    </div>
                </div>
                <div class="reviews-block">
                    <div class="reviews-img">
                        <img class="rev-image" src="~/Image/Reviews/Icon-3.svg" alt="icon-3">
                    </div>
                    <div class="reviews-descr">
                        <h5 class="reviews-descr-text">All flowers are hand-picked by our florists</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>