@model FlowersStore.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "CHECKOUT FORM";
}

<div class="container container-checkout">
    <section class="checkout">
        <div class="checkout-info">
            <div class="cart" id="msCart">
                <h2 class="checkout-group__title">@ViewData["Title"]</h2>
                <div class="cart-positions">
                    <div class="cart-item" id="cartId">
                        <div class="cart-item__photo">
                            <img class="cart-item__img" src="~/Image/Растения/Растение-1.jpg" alt="Flower-img">
                        </div>
                        <div class="cart-item__body">
                            <div class="cart-item__name">Роза Столистная</div>
                            <div class="cart-item-counter">
                                <div class="cart-item__counter">100 <span class="span-style">€</span></div>
                                <div class="cart-item-counter__value" type="number" name="count"> <span class="multi">x</span> 4</div>
                            </div>
                            <div class="cart-item-price">
                                <div class="cart-item__price">SubTotal: </div>
                                <span class="cart-item-price__value">2 170 <span class="span-style">€</span></span>
                            </div>
                            <div class="cart-product-remove">
                                <button class="product-remove" id="buttonId" style="outline: none;" aria-label="delete product">×</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-item" id="cartId">
                        <div class="cart-item__photo">
                            <img class="cart-item__img" src="~/Image/Растения/Растение-1.jpg" alt="Flower-img">
                        </div>
                        <div class="cart-item__body">
                            <div class="cart-item__name">Роза Столистная</div>
                            <div class="cart-item-counter">
                                <div class="cart-item__counter">100 <span class="span-style">€</span></div>
                                <div class="cart-item-counter__value" type="number" name="count"> x 4</div>
                            </div>
                            <div class="cart-item-price">
                                <div class="cart-item__price">SubTotal: </div>
                                <span class="cart-item-price__value">2 170 <span class="span-style">€</span></span>
                            </div>
                            <div class="cart-product-remove">
                                <button class="product-remove" id="buttonId" style="outline: none;" aria-label="delete product">×</button>
                            </div>
                        </div>
                    </div>

                    <div class="cart-item" id="cartId">
                        <div class="cart-item__photo">
                            <img class="cart-item__img" src="~/Image/Растения/Растение-1.jpg" alt="Flower-img">
                        </div>
                        <div class="cart-item__body">
                            <div class="cart-item__name">Роза Столистная</div>
                            <div class="cart-item-counter">
                                <div class="cart-item__counter">100 <span class="span-style">€</span></div>
                                <div class="cart-item-counter__value" type="number" name="count"> x 4</div>
                            </div>
                            <div class="cart-item-price">
                                <div class="cart-item__price">SubTotal: </div>
                                <span class="cart-item-price__value">2 170 <span class="span-style">€</span></span>
                            </div>
                            <div class="cart-product-remove">
                                <button class="product-remove" id="buttonId" style="outline: none;" aria-label="delete product">×</button>
                            </div>
                        </div>
                    </div>

                    <div class="cart-item" id="cartId">
                        <div class="cart-item__photo">
                            <img class="cart-item__img" src="~/Image/Растения/Растение-1.jpg" alt="Flower-img">
                        </div>
                        <div class="cart-item__body">
                            <div class="cart-item__name">Роза Столистная</div>
                            <div class="cart-item-counter">
                                <div class="cart-item__counter">100 <span class="span-style">€</span></div>
                                <div class="cart-item-counter__value" type="number" name="count"> x 4</div>
                            </div>
                            <div class="cart-item-price">
                                <div class="cart-item__price">SubTotal: </div>
                                <span class="cart-item-price__value">2 170 <span class="span-style">€</span></span>
                            </div>
                            <div class="cart-product-remove">
                                <button class="product-remove" id="buttonId" style="outline: none;" aria-label="delete product">×</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr>

            <div class="cart-contact">
                <h3 class="checkout-group__title">Contact details</h3>
                <div class="cart-contact__block">
                    <input type="text" class="block-input" value="Admin" disabled />
                    <label class="block-label">Your Name *</label>
                </div>
                <div class="cart-contact__block">
                    <input type="tel" class="block-input" value="+72256574411" disabled />
                    <label class="block-label">Your Phone *</label>
                </div>
                <div class="cart-contact__block">
                    <input type="email" class="block-input" value="Email@gmai.com" disabled />
                    <label class="block-label">Your Email *</label>
                </div>
            </div>

            <div class="cart-delivery">
                <h3 class="checkout-group__title">Delivery</h3>
                <div class="checkbox-delivery">
                    <input type="checkbox" name="checkout-delivery" id="checkout-delivery" class="checkout-delivery" @*data-groupswitch="contacts" data-validate-switch="address" value="off"*@>
                    <label for="checkout-delivery">Self-Pickup</label>
                </div>
                <div class="address-delivery">
                    <div class="address-delivery__blocks">
                        <div class="address-delivery__block">
                            <input type="text" name="city" class="delivery-input" required />
                            <label class="delivery-label">Your City *</label>
                            <span class="validation-text required error" name="city">This field is required</span>
                        </div>
                        <div class="address-delivery__block">
                            <input type="text" name="address" class="delivery-input" required />
                            <label class="delivery-label">Your Address *</label>
                            <span class="validation-text required error" name="address">This field is required</span>
                        </div>
                        <div class="address-delivery__block">
                            <input type="text" name="apartment" class="delivery-input" required />
                            <label class="delivery-label">Your Apartment *</label>
                            <span class="validation-text required error" name="apartment">This field is required</span>
                        </div>
                    </div>
                    <div class="address-delivery__comment">
                        <textarea name="comment" class="delivery__comment" cols="30" row="4" placeholder="Write your comment" value="" style="padding-top:13px"></textarea>
                    </div>
                </div>
            </div>

            <script>
                document.querySelector('.checkout-delivery').addEventListener('click', () => {
                        document.querySelector('.address-delivery').classList.toggle('address-delivery_hidden');
                });
            </script>

            <div class="checkout-date-calendar">
                <h3 class="checkout-group__title">Date and Time</h3>
                <form class="form-checkout-date">
                    <div class="checkout-calendar">
                        <input class="calendar-input" type="datetime-local" id="date" name="date" />
                        <label class="calendar-label" for="date">Delivery date and time</label>
                    </div>
                    @*<div class="checkout-number-block">
                    <div class="checkout-number-min">
                        <input class="checkout-number-input" autocomplete="off" id="time-start" type="text" name="time_start" placeholder="9:00" required="" value="08:06" data-required="true">
                    </div>
                    <div class="checkout-number-max">
                        <input class="checkout-number-input" autocomplete="off" id="time-end" type="text" name="time_end" placeholder="18:00" required="" value="11:00" data-required="true">
                    </div>
                </div>*@
                    <span class="validation-text" name="date">This field is required</span>
                </form>
            </div>

            <div class="checkout-payments-block">
                <h3 class="checkout-group__title">Payment method</h3>
                <div class="checkout-container">
                    <div id="payment-block-1" class="checkout-block-visa">
                        <div class="block-visa_label">
                            <input id="input-payment-1" class="box-block-visa" type="radio" value="15" data-caption="Payment method" name="payment" required="" checked="checked">
                            <label class="block-visa-label" for="input-payment-1">&nbsp;Bank card, Google Pay&nbsp;</label>
                            <p data-tooltip="Payments using Google Pay are secured by the payment system PayOnlineSystem.
                                The transfer of your bank card data to the authorization server of the processing center is carried out through a secure channel in compliance with all necessary security measures. Information is stored only on a specialized server of the payment system.">?</p>
                        </div>
                        <div class="block-visa_image">
                            <ul class="payments-visa_images">
                                <li class="payments-image">
                                    <img src="~/Image/Payments/google.svg" alt="google" class="payments-img" />
                                </li>
                                <li class="payments-image">
                                    <img src="~/Image/Payments/Payment-1.svg" alt="visa" class="payments-img" />
                                </li>
                                <li class="payments-image">
                                    <img src="~/Image/Payments/Payment-2.svg" alt="mastercart" class="payments-img" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="payment-block-2" class="checkout-block-visa">
                        <div class="block-visa_label">
                            <input id="input-payment-2" class="box-block-visa" type="radio" value="15" data-caption="Payment method" name="payment" required="" checked="checked">
                            <label class="block-visa-label" for="input-payment-2">&nbsp;Cash to the courier&nbsp;</label>
                            <p data-tooltip="After receiving your order, transfer the money to our courier">?</p>
                        </div>
                        <div class="block-visa_image">
                            <ul class="payments-visa_images">
                                <li class="payments-image">
                                    <img src="~/Image/Payments/money.svg" alt="cash" class="payments-img" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="payment-block-3" class="checkout-block-visa">
                        <div class="block-visa_label">
                            <input id="input-payment-3" class="box-block-visa" type="radio" value="15" data-caption="Payment method" name="payment" required="" checked="checked">
                            <label class="block-visa-label" for="input-payment-3">&nbsp;By card transfer to the bank&nbsp;</label>
                            <p data-tooltip="Transfer by card number">?</p>
                        </div>
                        <div class="block-visa_image">
                            <ul class="payments-visa_images">
                                <li class="payments-image">
                                    <img src="~/Image/Payments/card.svg" alt="card" class="payments-img" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside class="checkout-status">
            <div class="checkout-status__wrap">
                <div class="checkout-total">
                    <div class="checkout-rows">
                        <div class="form-row form-row_centered checkout-total__row">
                            <span class="checkout-total__title">Order</span>
                            <span class="checkout-total__value"><span class="ms2_order_cart_cost">11 840</span></span>
                        </div>
                        <div class="form-row form-row_centered checkout-total__row">
                            <span class="checkout-total__title">Discount</span>
                            <span class="checkout-total__value"><span class="ms2_order_discount_cost">0</span></span>
                        </div>
                        <div class="form-row form-row_centered checkout-total__row">
                            <span class="checkout-total__title">Delivery</span>
                            <span class="checkout-total__value"><span class="ms2_order_delivery_cost">250</span></span>
                        </div>
                    </div>
                    <div class="checkout-total__footer">
                        <div class="form-row form-row_centered checkout-total__row">
                            <span class="checkout-total__title">Total</span>
                            <span class="checkout-total__value checkout-total__value_bold"><span class="ms2_order_cost rouble">12 090</span></span>
                        </div>
                    </div>
                    <div class="form-field coupon_field">
                        <input type="text" name="coupon_code" id="coupon_code" value="" autocomplete="off" placeholder="Coupon code">
                    </div>
                    <div class="checkout-group">
                        <div class="checkbox-field">
                            <input type="checkbox" name="agree" id="agree" checked="">
                            <label for="agree">I agree to processing <a href="Home/Privacy" target="_blank">personal data</a></label>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="form-row form-row_centered checkout-total__row">
            <button class="checkout-submit-btn button-btn" type="button">Pay</button>
        </div>
    </section>
</div>