@model FlowersStore.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "CHECKOUT";
}

<div class="container container-checkout">
    <section class="checkout">
        <h2 class="title">@ViewData["Title"]</h2>

        
    </section>
</div>
