@model FlowersStore.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "CHECKOUT";
}

<div class="container container-checkout">
    <section class="checkout">
        <h1 class="title">@ViewData["Title"]</h1>

        <p>Checkout</p>
    </section>
</div>й
