
body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(242,156,119);
    background: linear-gradient(90deg, rgba(242,156,119,1) 0%, rgba(242,91,165,1) 51%, rgba(219,90,90,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* background: url("../Image/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    padding-bottom: 12%;
}

.main-box {
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.semiopacity {
    background: #fff; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    opacity: 0.90; /* Полупрозрачный фон */
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.alert-danger {
    font-size: 14px;
    transition: all 0.5s ease 0s;
}

.pozitive {
   background-color: #4ed58d !important;
}

.title {
    font-size: 33px;
    line-height: 46px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.login-btn {
    position: relative;
}

.admin-btn {
    color: #db8025 !important;
}

.profile-btn {
    max-width: 130px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-dropdown-box {
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-left: .25rem;
    border-right: .25rem;
    border-top: .25rem;
}

    .nav-dropdown-box:hover {
        background: #FFFFFF;
        box-shadow: 0 .25rem .75rem gray;
        cursor: pointer;
    }

ul li ul {
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
}

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
        border-left: .25rem;
        border-right: .25rem;
        border-bottom: .25rem;
        box-shadow: 0 .25rem .75rem gray;
        visibility: visible;
        opacity: 1;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

.nav-dropdown-items {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    vertical-align: middle;
}

.nav-dropdown-item {
    padding: 5px;
    list-style-type: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem gray;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: #Ffffff;
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
}

.footer-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.TagRow {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.TagCell {
    display: flex;
    padding: 0;
    max-width: 100%;
/*    height: fit-content;
*/}

.TagControl {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2px;
    padding-left: 2px;
}

.TagLabel {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.TagInput {
/*    height: fit-content;
*/    z-index: 1;
}

.TagButton {
    width: 100%;
    padding: 0;
    max-width: 100%;
/*    height: fit-content;
*/    z-index: 1;
}

#dialogBox {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 50%;
    width: 47%;
}

.lds-dual-ring {
    position: absolute;
    z-index: 90;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 50%);
    display: block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:before {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(238, 27, 34);
        border-color: rgb(175, 13, 18) transparent rgb(175, 13, 18) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

/*processing*/
#dual-ring {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgba(200,200,200,0.6);
    top: 0;
}

.card-body {
    padding: 0;
    margin: 0;
}

.input-like-label {
    border: none !important;
    outline: none !important;
    background: none !important;
}


/* HEADER */
.header-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logoImage {
    overflow: visible;
    margin-right: 6px;
    transform: scaleX(1) scaleY(1);
}

.logo-span {
    color: #EE1B22;
}

.phone-text {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #343a40 !important;
    text-decoration: none;
    vertical-align: central;
}

    .phone-text:hover {
        color: #EE1B22 !important;
        text-decoration: none;
    }

.btnClick {
    background-color: transparent;
    color: #343a40;
    border: none;
    border-radius: 5px;
/*    transition-duration: 0.7s;*/    
    cursor: pointer;
    text-decoration: none;
}

    .btnClick:hover {
        color: #EE1B22 !important;
    }

a:hover {
    text-decoration: none !important;
}

.input-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.show {
    display: block;
    transition: all 2s linear;
}

.fade {
    display: none;
    opacity: 0;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-btn {
    padding-right: .5rem;
    padding-left: .5rem;
}

.close {
   cursor: pointer;
}

/* MAIN HOME PAGE*/
.main-title {
    padding-top: 11%;
    padding-bottom: 3%;
}

.main-subtitle {
    padding-bottom: 5%;
}

/*Slick Slider*/
.reviews-slider {
    padding-bottom: 8%;
}

.slick-list {
    border-radius: .25rem;
    box-shadow: 0 .25rem .75rem gray;
}

.text-slide {
    display: block;
    position: absolute;
    top: 45%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 50px;
    color: #ffff;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.reviews-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-block {
    align-items: center;
    text-align: center;
    width: 27%;
    padding-bottom: 8%;
}

.reviews-text {
    text-align: center;
    padding-bottom: 5%;
}

.reviews-img {
    vertical-align: central;
    margin-bottom: 40px;
}

.rev-image {
    height: 150px;
    width: 150px;
}

.reviews-descr {
    font-weight: 600;
}

/* About */
.about-img-blocks {
    margin-right: 20px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about-text-title {
    line-height: 32px;
}

.about-img {
    display: block;
    height: 200px;
    width: 300px;
    margin-bottom: 15px;
}

.about-li {
    color: #EE1B22;
}

.about-span {
    color: #343a40;
}

/* Privacy */
.privacy {
    padding-top: 8%;
}

.policy-box-img {
    width: 78px;
    height: 78px;
    margin-right: 10px;
}

.policy-box {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 15px;
}

.policy-trap-box {
    height: 80px;
}

.policy-trap {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
/* Store */
.input-search {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.input-style {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.store {
    padding-top: 8%;
}

.store-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.shoping-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 33%;
}

.shoping-card {
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-basis: 29%;
    border: 1.4px solid #EE1B22;
    border-radius: .25rem;
    margin-bottom: 30px;
    transition: all 0.6s ease 0s;
}

    .shoping-card:hover {
        box-shadow: 0 0 15px #343a40;
        transform: translateY(-7px);
    }

.card-image {
    position: relative;
    display: block;
    flex-basis: 27%;
    max-height: 386px;
    border-radius: .25rem;
}

.card-shoping-image {
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 32px;
}

.card-category {
    font-style: italic;
}

.card-color-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: .25rem;
}

.card-description {
    font-size: 15px;
    line-height: 18px;
    margin: 0 10px 0px 10px;
    min-height: 90px;
    text-align:justify;
}

.card-color-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.card-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.quantity-count-span {
    color: #343a40;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.16px;
    line-height: 33px;
    width: 33px;
    height: 33px;
    border: 1px solid #343a40;
    border-radius: .25rem;
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.product-count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 30px;
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #343a40;
    border: none;
    outline: none;
    cursor: pointer;
}

    .product-count-button:hover {
        color: #EE1B22 !important;
    }

.card-btn-add {
    margin-bottom: 10px;
}

.card-price {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
}

.span-style {
    color: #678568;
}

/* Pre-footer*/

.pre-footer-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.pre-footer-text {
    text-align: left;
    font-size: 16px;
    line-height: 32px;
    color: #EE1B22;
}

.payments-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.payments-icon-img {
    height: 50px;
    width: 70px;
}

/* Basket */
.basket {
    padding-top: 8%;
}

/*.container-basket {
    min-height: 800px;
}*/

.basket-form {
    border: 1px solid #e5e5e5;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

.basket-cart-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.6s ease 0s;
}

    .basket-cart-item:hover {
        box-shadow: 0 .25rem .75rem gray;
    }

.basket-header {
    border-bottom: 1px solid #e5e5e5;
}

.basket-table {
    text-align: left;
    width: 100%;
}

.basket-user {
    max-width: 250px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 48px;
    background: -webkit-linear-gradient(90deg, rgba(242,156,119,1) 0%, rgba(242,91,165,1) 51%, rgb(175, 13, 18) 100%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.basket-btn {
    position: relative;
}

.basket-counter {
    display: none;
    position: absolute;
    font-size: 12px;
    min-width: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    line-height: 13px;
    right: -7px;
}

.checkout-btn {
    color: #FFFFFF !important;
    padding: 14px 35px !important;
}

/* PRODUCT */
.product-remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    border-radius: 100%;
    color: #e5e5e5;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    border: 0;
    text-decoration: none !important;
    background: #FFFFFF;
}

    .product-remove:hover {
        color: #EE1B22 !important;
    }

    .product-remove:active {
        outline: none;
    }

th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}

td {
    padding: 9px 12px;
    vertical-align: middle;
    line-height: 1.5em;
}

.basket-product-remove {
    width: 37px;
}

.basket-mini-img {
    height: 80px;
    width: 80px;
}

.basket-product-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 17px;
    line-height: 26px;
}

.basket-product-container {
    display: flex;
    justify-content: left;
}

.basket-product-counter {
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: black;
    background: #e5e5e5;
    border-color: #e5e5e5;
    float: left;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0;
    border-style: solid;
    border-width: 1px;
    transition: none;
}

.basket-product-counter:hover {
    color: #EE1B22 !important;
}

.basket-minus {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.basket-plus {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.span-product-quantity {
    background: none;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    width: 50px;
    line-height: 38px;
    font-size: 15px;
    border: 1px solid #e5e5e5;
}

.basket-actions {
    padding-right: 42px;
}

.basket-actions-left {
    color: #FFFFFF;
    text-align: left !important;
}

.basket-product-amount {
    font-size: 18px;
    vertical-align: middle;
    line-height: 19px;
}

.sumTotal-product-amount {
    font-size: 18px;
    vertical-align: middle;
    line-height: 19px;
}

.amount-total {
    font-size: 18px;
    line-height: 19px;
}

.basket-cart-footer {
    text-align: right;
}

.popup-add-box {
    display: none;
    opacity: 0;
    position: fixed;
    margin: 78px 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 30%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    text-align: center;
    color: green;
    margin-left: 1%;
    z-index: 5;
    box-shadow: 5px 7px 18px 4px rgba(0,0,0,0.73);
    transition: all 1s ease 0s;
}

    .popup-add-box:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid #FFFFFF;
        border-right: 10px solid transparent;
        border-top: 10px solid #FFFFFF;
        border-bottom: 10px solid transparent;
        left: 20px;
        top: -17px;
        transform: rotate( 273deg );
    }

   


.box-show {
    opacity: 1;
}

.box-hide {
    opacity: 0;
}

/* MODAL WINDOW*/
.form__title {
    font-weight: 300;
    margin: 0;
    margin-top: 1.15rem;
    margin-bottom: 0.8rem;
}

.link {
    color: #333;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}

.container-modal {
    background-color: #e9e9e9;
    border-radius: 0.7rem;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 420px;
    max-width: 758px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container-modal__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container-modal--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-modal.right-panel-active .container-modal--signin {
    transform: translateX(100%);
}

.container-modal--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container-modal.right-panel-active .container-modal--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container-modal__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container-modal.right-panel-active .container-modal__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: #EE1B22;
    /* background: url("../Image/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    /*  background: rgb(242,156,119);
    background: linear-gradient(90deg, rgba(242,156,119,1) 0%, rgba(242,91,165,1) 51%, rgba(219,90,90,1) 100%);*/
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
    background: linear-gradient(-45deg, rgba(242,156,119,1) 0%, rgba(242,47,156,1) 51%, rgba(35,166,213,1) 100%);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

.container-modal.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.container-modal.right-panel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.container-modal.right-panel-active .overlay--right {
    transform: translateX(20%);
}

.button-btn {
    background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371 51%, #FF5F6D 100%)
}

.button-btn {
    background-size: 200% auto;
    border-radius: .25rem;
    border: 1px solid #e5e5e5;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    transition: all 0.5s ease;
    box-shadow: 0 0 20px #eee;
    text-align: center;
    text-transform: uppercase;
}

    .button-btn:hover {
        color: #e9e9e9;
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
    }

    .button-btn:active {
        transform: scale(0.95);
    }

    .button-btn:focus {
        outline: none;
    }

    .button-btn:disabled {
        background-image: linear-gradient( 90deg, #f29c7787 0%, #db5a5a7d 74%);
        color: #FFFFFF !important;
    }

.btn-registration {
    margin-bottom: 0.8rem;
}

.form {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.accessdenied {
    padding-top: 8%;
}

.accessdenied-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accessdenied-title {
    font-size: 34px;
    font-weight: 600;
    color: #383d41;
    margin-bottom: 1%;
}

.accessdenied-image {
    height: 256px;
    width: 256px;
    margin-bottom: 2%;
}

.access-img {
    height: 256px;
    width: 256px;
}

.accessdenied-subtitle {
    font-size: 15px;
    text-align: center;
    line-height: 31px;
}

.accessdenied-subtitle-enter {
    text-decoration: underline;
}

.accessdenied-error-span {
    font-weight: 600;
    color: #383d41;
}

.accessdenied-popup {
    display: flex;
    align-items: center;
}

.accessdenied-popup-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-right: 5px;
    animation-timing-function: linear;
    animation: slideDown 1s alternate infinite;
}

.accessdenied-popup-img {
    height: 53px;
    width: 53px;
    margin-right: 15px;
}

.accessdenied-popup-text {
    font-size: 15px;
}

@keyframes slideDown {
    from {
        margin-top: 40px;
    }

    to {
        margin-top: 60px;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ADMIN */
.admin {
    padding-top: 8%;
}

.developer-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.developer-box-img {
    animation: rotate-animation 10s linear infinite;
}

.developer-box-desc {
    margin-left: 15px;
    margin-bottom: 0;
}

/* PROFILE */

.profile {
    padding-top: 8%;
}

.profile-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-box-desc {
    margin-left: 15px;
    margin-bottom: 0;
}


/* CHECKOUT */

.checkout {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6%;
}

.checkout-info {
    width: calc(100% - 320px);
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
}

.checkout-status {
    width: 320px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #e6e9f2;
    z-index: 1;
    border-bottom-right-radius: 1.25rem;
}

.checkout-status__wrap {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
}

.checkout-submit-btn {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.checkout-field {
    max-width: 320px;
}

    .checkout-field input {
        padding: 20px 20px 6px;
    }

.checkout-field_small {
    max-width: 180px;
    width: 180px;
}

.cart-item__block {

}

.presets {
    padding: 0 20px;
}

.preset {
    margin: 0 7px;
    font-size: .875rem;
    text-decoration-style: dashed;
}

    .preset:first-child {
        margin-left: 0;
    }

    .preset:last-child {
        margin-right: 0;
    }

.checkout-total {
    padding-top: 6%;
}

.checkout-total__value {
    font-size: 1.5em;
}

.checkout-total__value_bold {
    font-weight: bold;
}

.checkout-total__footer {
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #813f6a;
}

.checkout-submit {
    width: 300px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.form-flex_display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.form-row {
    position: initial;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all .4s linear;
}

    .form-row:last-child {
        margin-bottom: 0;
    }

.form-row_centered {
    align-items: center;
}

.form-row_start {
    justify-content: flex-start;
}

.form-row_full-height {
    align-items: initial;
}

    .form-row_full-height .form-field {
        height: 100%;
    }

    .form-row_full-height textarea {
        height: 100%;
        margin: 12px;
    }

.form-row_third .form-field, .form-row_third .form-select {
    width: 33.33333%;
    margin: 0 5px;
}

    .form-row_third .form-field:first-child, .form-row_third .form-select:first-child {
        margin-left: 0;
    }

    .form-row_third .form-field:last-child, .form-row_third .form-select:last-child {
        margin-right: 0;
    }

.form-row_hidden {
    max-height: 0;
    margin: 0;
    padding: 0;
}

.form-row__hint {
    display: block;
    font-size: .75em;
    line-height: 2;
    color: #747a98;
}

.form-column {
    width: calc(50% - 10px);
}

.form-column_big {
    flex-grow: 1;
}

.form-field {
    position: relative;
    width: 100%;
}

    .form-field label + input, .form-field label + textarea, .form-field label + select {
        margin-top: 4px;
    }

.form-field__hint {
    display: block;
    font-size: .75em;
    line-height: 2;
    color: #747a98;
}

.form-field_coupon {
    order: 3;
}

.checkbox-field {
    display: flex;
    margin-right: 15px;
}

    .checkbox-field input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        opacity: 1;
    }

#agree {
    margin-top: 4px;
}

.coupon_field {
    margin-bottom: .5rem;
}

#coupon_code {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.cart-positions {
    position: relative;
    border-radius: .25rem;
    transition: all 0.6s ease 0s;
}

    .cart-positions:hover {
        box-shadow: 0 .25rem .45rem gray;
    }

.cart-item {
    display: flex;
    border-top: 1px solid #e5e5e5;
    position: relative;
}


.cart-item__photo {
    height: 100px;
    width: 130px;
    position: relative;
} 

.cart-item__img {
    height: 80px;
    width: 80px;
    top: 9%;
    left: 4%;
    position: absolute;
}

.cart-item__body {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    width: 100%
}

.cart-item__name {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0 auto 0;
    font-size: 17px;
    min-width: 45%
}

.cart-item-counter {
    display: flex;
    justify-content: space-around;
    margin: auto 0 auto 0;
    font-size: 17px;
    min-width: 17%
}

.cart-item-price {
    display: flex;
    justify-content: space-evenly;
    margin: auto 0 auto 0;
    width: 100%;
}

.cart-product-remove {
    margin: 7% 4% 8% 0;
}

.multi {
    color: #d23417;
}

/* CHECKOUT CONTACT */

.cart-contact {
    padding-bottom: 20px;
}

.checkout-group__title {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.cart-contact__block {
    display: block;
    vertical-align: top;
    position: relative;
    width: 40%
}

.block-input {
    width: 100%;
    padding: 5px 14px;
    padding-top: 13px;
    margin: 10px 0 10px 0;
    height: 47px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.block-label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    right: 11px;
    top: 1px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
}

.checkbox-delivery {
    padding-left: 4px;
}

.address-delivery__blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.address-delivery {
    max-height: 1000px;
    margin: 0;
    padding: 0 0 15px 0;
    overflow: auto;
    border: none;
    transition: all .5s linear;
}

.address-delivery_hidden {
    max-height: 0;
    margin: 0;
    padding: 0;
}

.address-delivery__block {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.delivery-input {
    height: 40px;
    margin: 10px 3px 10px 3px;
    padding-top: 14px;
    padding-left: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.delivery-label {
    position: absolute;
    pointer-events: none;
    left: 19px;
    right: 15px;
    top: 11px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .7s;
}

.delivery-input:focus ~ .delivery-label,
.delivery-input:not(:focus):valid ~ .delivery-label {
    top: 1px;
    font-size: 10px;
}

.delivery__comment {
    min-height: 150px;
    max-height: 250px;
    width: 98%;
    padding: 5px 15px;
    margin: 10px 5px 10px 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.validation-text {
    display: none;
    color: brown;
    border: none !important;
}

.checkout-calendar {
    position: relative;
}

.calendar-input {
    height: 40px;
    margin: 10px 3px 10px 3px;
    padding-bottom: 17px;
    padding-top: 33px;
    padding-left: 21px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

  /*  .calendar-input::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url("../Image/Payments/calendar.svg");
        background-repeat: no-repeat;
        width: 40px;
        height: 30px;
        left: 6px;
        top: 2px;
        z-index: 3;
    }*/

    .calendar-label {
        position: absolute;
        pointer-events: none;
        left: 53px;
        top: 2px;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        line-height: 40px;
    }

.checkout-number-block {
    display: flex;
    position: relative;
}

.checkout-number-input {
    height: 40px;
    margin: 10px 3px 10px 3px;
    width: 94px;
    padding-left: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.checkout-number-min::before {
    content: "from";
    position: absolute;
    width: 8px;
    left: -30px;
    top: 10px;
    padding: 12px 20px 12px 40px;
    font-size: 14px;
    line-height: 1;
}

.checkout-number-max::before {
    position: absolute;
    content: "to";
    width: 8px;
    left: 79px;
    top: 10px;
    padding: 12px 20px 12px 40px;
    font-size: 14px;
    line-height: 1;
}

.block-visa_label {
    display: flex;
    align-items: center;
    width: 50%;
}

.checkout-block-visa {
    border-top: 1px solid #ddd;
    margin-bottom: -1px;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.box-block-visa {
    vertical-align: middle;
}

.block-visa-label {
    margin-bottom: 0 !important;
}

[data-tooltip] {
    display: inline-block;
    padding: 0 2px;
    vertical-align: text-top;
    margin-top: -3px;
    margin-bottom: 2px;
    color: #aaa;
    line-height: 1.05;
    text-decoration: none;
    background: 0 0 !important;
    cursor: help;
    position: relative; /* Относительное позиционирование */
}

    [data-tooltip]::after {
        content: attr(data-tooltip); /* Выводим текст */
        visibility: hidden;
        width: 256px;
        border: 1px solid #555;
        border-radius: 7px;
        background: rgba(85,85,85,.95);
        color: #fff;
        white-space: normal;
        font-size: .9em;
        line-height: 1.2;
        box-sizing: border-box;
        padding: .6em .8em;
        box-shadow: 0 10px 5px rgb(0 0 0 0 5%);
        position: absolute;
        z-index: 999;
        bottom: 125%;
        left: calc(50% - 128px);
        opacity: 0;
        transition: opacity .5s;
        pointer-events: none; /* Подсказка */
    }

    [data-tooltip]:hover::after {
        visibility: visible;
        opacity: 1; /* Показываем подсказку */
    }

.checkout-block-visa {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.payments-visa_images {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.payments-image {
    display: block;
    height: 42px;
    width: 63px;
    line-height: 34px;
    border: 1px solid #555;
    margin-right: 7px;
    border-radius: 7px;
}

.payments-img {
    display: block;
    height: 40px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.google {
    width: 44px;
    height: 32px;
    margin-top: 4px;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

/* USER PROFILE*/

.profile-header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    vertical-align: middle;
}

.profile-avatar {
    flex-basis: 32%;
    padding-bottom: 20px;
}

.avatar {
    vertical-align: middle;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.profile-fullName {
    color: #292530;
    font-size: 32px;
    font-weight: 600;
}

.profile-subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.profile-email {
    color: #0f8fd4;
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px;
    text-decoration: none;
}

.profile-role {
    color: #797f82;
    font-size: 18px;
    font-weight: 400;
}

.profile-body {
    border-top: 1px solid #d7dcde;
}

.profile-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    padding: .375rem .75rem;
}

.profile-data-desc {
    flex-basis: 33%;
}

.profile-data__input {
    flex-basis: 39%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.user-role-selector {
    flex-basis: 39%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.choose-user-selector {
    flex-basis: 39%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.profile-fullName {
    max-width: 450px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#SubmitProfileDialog_M {
    font-size: 16px;
    border-radius: .25rem;
}

.error-label {
    padding-left: 33%;
}

.profile-title-group {
    display: flex;
    align-items: center;
    text-align: center
}

.profile-title-subtitle {
    padding-left: 26%;
    font-size: 16px;
}

.profile-confirm-pass {
    color: #797f82;
    font-size: 16px;
    font-weight: 400;
    padding-left: 33.5%;
    border-top: 1px solid #d7dcde;
    margin-top: 30px;
}

.profile-forgot-pass-link {
    font-size: 14px;
    font-weight: 400;
    padding-left: 33.5%;
}

