
body {
    font-family: 'Open Sans', sans-serif;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.title {
    font-size: 33px;
    line-height: 46px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.TagRow {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.TagCell {
    display: flex;
    padding: 0;
    max-width: 100%;
/*    height: fit-content;
*/}

.TagControl {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2px;
    padding-left: 2px;
}

.TagLabel {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.TagInput {
/*    height: fit-content;
*/    z-index: 1;
}

.TagButton {
    width: 100%;
    padding: 0;
    max-width: 100%;
/*    height: fit-content;
*/    z-index: 1;
}

#dialogBox {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 45%;
    width: 40%;
}

.lds-dual-ring {
    position: absolute;
    z-index: 90;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 50%);
    display: block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:before {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(17, 85, 43);
        border-color: rgb(28, 100, 52) transparent rgb(28, 100, 52) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

/*processing*/
#dual-ring {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgba(200,200,200,0.6);
    top: 0;
}

.card-body {
    padding: 0;
    margin: 0;
}

.input-like-label {
    border: none !important;
    outline: none !important;
    background: none !important;
}


/* HEADER */
.header-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logoImage {
    overflow: visible;
    margin-right: 6px;
    transform: scaleX(1) scaleY(1);
}

.logo-span {
    color: #EE1B22;
}

.phone-text {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #343a40 !important;
    text-decoration: none;
    vertical-align: central;
}

    .phone-text:hover {
        color: #EE1B22 !important;
        text-decoration: none;
    }

.btnClick {
    background-color: transparent;
    color: #343a40 !important;
    border: none;
    border-radius: 5px;
/*    transition-duration: 0.7s;*/    
    cursor: pointer;
    text-decoration: none;
}

    .btnClick:hover {
        color: #EE1B22 !important;
    }

.input-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.show {
    display: block;
    transition: all 2s linear;
}

.fade {
    display: none;
    opacity: 0;
}

/* Modal Login */
.modal-header {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ff6b70;
}

.modal-title {
    font-size: 20px;
    margin-left: auto;
    color: #FFFFFF;
}

.modal-auth {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-dialog {
    padding-top: 10%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btnBorder {
    border: 1px solid;
}

.close {
   cursor: pointer;
}


/* MAIN HOME PAGE*/
.main-title {
    padding-top: 11%;
    padding-bottom: 3%;
}

.main-subtitle {
    padding-bottom: 5%;
}

/*Slick Slider*/
.reviews-slider {
    padding-bottom: 8%;
}

.text-slide {
    display: block;
    position: absolute;
    top: 45%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 50px;
    color: #ffff;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.reviews-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-block {
    align-items: center;
    text-align: center;
    width: 27%;
    padding-bottom: 8%;
}

.reviews-text {
    text-align: center;
    padding-bottom: 5%;
}

.reviews-img {
    vertical-align: central;
    margin-bottom: 40px;
}

.rev-image {
    height: 150px;
    width: 150px;
}

.reviews-descr {
    font-weight: 600;
}

/* About */
.about-img-blocks {
    margin-right: 20px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 8%;
}

.about-text-title {
    line-height: 32px;
}

.about-text-subtitle__descr{

}

.about-img {
    display: block;
    height: 200px;
    width: 300px;
    margin-bottom: 15px;
}

.about-li {
    color: #EE1B22;
}

.about-span {
    color: #343a40;
}

/* Privacy */
.privacy {
    padding-top: 8%;
}

/* Store */
.input-search {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #343a40;
}

.store {
    padding-top: 8%;
}

.store-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.shoping-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 33%;
}

.shoping-card {
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-basis: 30%;
    border: 1px solid #EE1B22;
    border-radius: .25rem;
    margin-bottom: 30px;
    transition: all 0.6s ease 0s;
}

    .shoping-card:hover {
        box-shadow: 0 0 15px #343a40;
        transform: translateY(-7px);
    }

.card-image {
    position: relative;
    display: block;
    flex-basis: 27%;
    max-height: 386px;
    margin-top: 0.5px;
    border-radius: .25rem;
}

.card-shoping-image {
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    object-fit: fill;
}

.card-title {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 32px;
}

.card-category {
    font-style: italic;
}

.card-color-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: .25rem;
}

.card-description {
    font-size: 15px;
    line-height: 18px;
    margin: 0 10px 0px 10px;
    min-height: 80px;
    text-align:justify;
}

.card-color-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.card-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}



.quantity-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
/*
.quantity-count {
    width: 33px;
    height: 33px;
    border: 1px solid #343a40;
    border-radius: .25rem;
}*/

.quantity-count-span {
    color: #343a40;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.16px;
    line-height: 33px;
    width: 33px;
    height: 33px;
    border: 1px solid #343a40;
    border-radius: .25rem;
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.product-count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 30px;
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #343a40;
    border: none;
    outline: none;
    cursor: pointer;
}

    .product-count-button:hover {
        color: #EE1B22 !important;
    }

.card-btn-add {
    margin-bottom: 10px;
}

.card-price {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
}

.span-style {
    color: #678568;
}


/* Pre-footer*/
.pre-footer-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.pre-footer-text {
    text-align: left;
    font-size: 16px;
    line-height: 32px;
    color: #EE1B22;
}

.payments-icons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.payments-icon-img {
    height: 50px;
    width: 70px;
}

/* Basket */
.basket {
    padding-top: 8%;
}

.container-basket {
    min-height: 800px;
}

.basket-form {
    border: 1px solid #e5e5e5;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

.basket-cart-item {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.basket-table {
    text-align: left;
    width: 100%;
}

.product-remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    border-radius: 100%;
    color: #e5e5e5;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    border: 0;
    text-decoration: none !important;
}

    .product-remove:hover {
       color: #EE1B22 !important;
    }

th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}

td {
    border-top: 1px solid #e5e5e5;
    padding: 9px 12px;
    vertical-align: middle;
    line-height: 1.5em;
}

.basket-mini-img {
    height: 80px;
    width: 80px;
}