
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

.logoImage {
    position: absolute;
    overflow: visible;
    margin-right: 6px;
    transform: scaleX(1) scaleY(1);
}

.logo-span {
    color: #EE1B22;
}

.btnClick {
    padding: 0;
    background-color: transparent;
    border: none;
}

.show {
    display: block;
    transition: all 2s linear;
}

.fade {
    display: none;
    opacity: 0;
}

/* Modal Login */

.modal-auth {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-dialog {
    padding-top: 10%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Store */

.store-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.TagRow {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.TagCell {
    display: flex;
    padding: 0;
    max-width: 100%;
    height: fit-content;
}

.TagControl {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2px;
    padding-left: 2px;
}

.TagLabel {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.TagInput {
    height: fit-content;
    z-index: 1;
}

.TagButton {
    width: 100%;
    padding: 0;
    max-width: 100%;
    height: fit-content;
    z-index: 1;
}

#dialogBox {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 50%
}

.lds-dual-ring {
    position: absolute;
    z-index: 90;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 50%);
    display: block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:before {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(17, 85, 43);
        border-color: rgb(28, 100, 52) transparent rgb(28, 100, 52) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

/*processing*/

#dual-ring {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgba(200,200,200,0.6);
    top: 0;
}

.card-body {
    padding: 0;
    margin: 0;
}

.input-like-label {
    border: none !important;
    outline: none !important;
    background: none !important;
}

