<div class="accessdenied">
    <div class="container">

        <div class="accessdenied-block">
            <div class="accessdenied-image">
                <img src="~/Image/accessdeniedfl.svg" alt="accessdenied" class="access-img" />
            </div>
            <div class="accessdenied-title">Access Denied</div>
            <div class="accessdenied-subtitle">
                <p>
                    You do not have permission to view this page.<br />
                    <span class="accessdenied-subtitle-enter">You need to login in order to enter the store and complete the order.</span><br />
                    If you have <span class="accessdenied-error-span">roles</span>, login as an <span class="accessdenied-error-span">Administrator.</span>
                </p>
            </div>
            <div class="accessdenied-error"><span class="accessdenied-error-span">Error Code</span>: 403</div>
        </div>
    </div>
</div>