@{
    ViewData["Title"] = "SingOut";
}

<div class="singOut">
    <div class="container">
        <div class="singOut-block">
            <div class="singOut-box">
                <img class="policy-box-img" src="~/Image/privacy.svg" alt="privacy" />
                <h1 class="title">@ViewData["Title"]</h1>
            </div>

        </div>
    </div>
</div>